*{
    box-sizing: border-box;
    margin: 20px;

}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;

}

.right-section{
    background-color:#E9E9E9 ;
      position: relative;
    top: 0;
}


.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    
    
    gap: 5px;
}
.qty{
    width: 50px;
}
.subtotal+button{
    background-color: white;
    border: none;
}

   
